@use 'scss/abstracts/variables' as *;

html {
  font-size: 10px;
  // cursor: none;

  body {
    background-color: $theme-100;
    overflow-x: hidden;
  }

  &.dark body {
    background-color: $theme-800;
  }
}


input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  border: none;
  background: transparent;
  color: transparent;

  &:focus {
    box-shadow: none;
    outline: none;
    outline-offset: 0;
    background-color: transparent;
  }

  &:checked {
    background-image: none;
    background-color: transparent;
  }
}
