//COLORS
$theme-800: #161b21;
$theme-700: #212933;
$theme-600: #323e4c;
$theme-500: #455364;
$theme-400: #536780;
$theme-300: #9ea7b3;
$theme-200: #dde4ec;
$theme-100: #ffffff;
$theme-orange: #ff5850;
$theme-blue: #00a7af;

//FONTS
$font-heading: 'GT Haptik', sans-serif;
$font-body: 'Space Mono', monospace;

//TRANSITIONS
$bounce: all 0.3s cubic-bezier(.65,-0.17,0,1.73);
$base: all 0.3s ease-in-out;